@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 0% 100%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.gradient-bg {
    background: linear-gradient(45deg, #ea00ff, #002fff, #00d0ff, #ff9100, #00d0ff, #002fff, #ea00ff);
    background-size: 200% 200%;
    animation: gradientAnimation 12s ease infinite;
}